@media all and (max-width: 768px) {
  .tab-content {
    float: left;
    padding: 0px 12px;
    width: 70%;
    border-left: none !important;
    border-right: 1px solid;
    border-bottom: 1px solid;
    height: auto;
    border-top: 1px solid;
    padding: 3px;
  }

  .tab-content>.active {
    display: block;
    padding: 8px;
    height: auto;
    border-left: none !important;
  }

  .nav {
    float: left;
    border: 1px solid #ccc;
    width: 23%;
    height: auto;
  }

  .nav-link {
    color: #495057
  }


  .nav-link.active {
    border-right: none !important;
    color: #0d6efd;
  }

  /* Style the buttons inside the tab */
  .nav button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
  }

  .nav-tabs .nav-link {
    margin-bottom: -1px;
    background: none;
    border: 1px solid #cdd0d2;
    border-right-color: black !important;
  }

  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show {
    color: #0d6efd !important;
    border-top-color: black !important;
    border-left-color: black !important;
    border-bottom-color: black !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }

}
